{% include ads/head.html %}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- Meta SEO -->
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | truncate:160 | strip_html }}">
{% else %}
<meta name="description" content="Informações sobre a carros, motos e caminhões na Tabela Fipe no TabelaFipe.info">
{% endif %}

<title>
  {% if page.title %}{{ page.title }} | {% endif %}
  TabelaFipe.info
</title>

<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"
      integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous"/>

<!-- Icons -->
<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/favicons/touch-icon-144-precomposed.png">-->
<!--<link rel="shortcut icon" href="/public/favicons/favicon.png">-->
