<div class="top-bar show-for-small-only">
  <div class="top-bar-left">
    <ul class="vertical menu" data-dropdown-menu>
      <li>
        <a href="/">
          <strong>TabelaFipe.info</strong>
        </a>
      </li>
      <li>
        <a href="/carros">Carros</a>
      </li>
      <li><a href="/motos">Motos</a></li>
      <li><a href="/caminhoes">Caminhões e Micro-ônibus</a></li>
    </ul>
  </div>
</div>


<div class="top-bar show-for-medium">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="/">
          <strong>TabelaFipe.info</strong>
        </a>
      </li>
      <li>
        <a href="/carros">Carros</a>
      </li>
      <li><a href="/motos">Motos</a></li>
      <li><a href="/caminhoes">Caminhões e Micro-ônibus</a></li>
    </ul>
  </div>
</div>
